#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* this makes sure it occupies the full height of the viewport */
}

.input-group {
    width: 50%; /* ensures the input group takes up the full width */
}

.input-group .form-select {
    margin-bottom: 10px; /* space between the select elements */
}

